<section id="contact" class="section section--contact pt-0">
  <div class="container">
      <div class="contact">
          <h2>Contact Me</h2>
          <div class="row pt-2">
              <div class="col-12 col-lg-7">
                  <form name="contact" action="#" method="POST" data-netlify="true">
                      <div class="row">
                          <div class="col-12 col-sm-6">
                              <input type="text" name="" id="full_name"
                                     placeholder="Full Name"/>
                          </div>
                          <div class="col-12 col-sm-6">
                              <input type="text" name="" id="email"
                                     placeholder="Email Address"/>
                          </div>
                      </div>
                      <div class="row pt-4">
                          <div class="col-12">
                              <textarea name="" id="message"
                                        cols="30" rows="3" placeholder="Type Your Message Here"></textarea>
                          </div>
                      </div>
                      <div class="row pt-4">
                          <div class="col-12">
                              <button type="submit" class="btn btn-primary">
                                  <i class="icon-mail-fill"></i>
                                  Send Message
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="col-12 col-lg-5 contact__info">
                  <h4>Phone Number</h4>
                  <span>+## (##) ### ## ## ###</span>
                  <h4>Email</h4>
                  <span><a href="mailto:kimiya.omani@kimiya.me">kimiya.omani@kimiya.me</a></span>
                  <h4>Address</h4>
                  <span>Iran</span>
              </div>
          </div>
      </div>
  </div>
</section>